<div class="cart" [matBadge]="cart.data.attributes.skus_count" [matBadgeHidden]="badgeHidden" matBadgeColor="warn" matBadgePosition="above after">
  <fa-icon  [icon]="cartIcon" (click)="openDialog()"></fa-icon>
</div>

<main *ngIf="products | async as products; else loadingBlock">
  <div *ngFor="let product of products">
    <app-product [product]="product" [price]="price" (newCart)="onNewCart($event)"></app-product>
  </div>
</main>
<ng-template #loadingBlock>
  <app-loading></app-loading>
</ng-template>
<!-- <app-cart [cart]="cart"></app-cart> -->
