@import '../../../sass/styles';

.cart{
  position: fixed;
  top: 8.5%;
  right: 3%;
  & fa-icon{

    font-size: 2rem;
    cursor: pointer;
    filter: drop-shadow( 2px 2px rgba($color, 0.2));
    -webkit-filter: drop-shadow( 2px 2px rgba($color, 0.2));
  }
}

