<div class="cart" [matBadge]="cart.data.attributes.skus_count" [matBadgeHidden]="badgeHidden" matBadgeColor="warn" matBadgePosition="above after">
  <fa-icon  [icon]="cartIcon" (click)="openDialog()"
  matTooltip="Zobacz koszyk"
  matTooltipShowDelay="200"
  matTooltipHideDelay="100"
  ></fa-icon>
</div>

<main *ngIf="products | async as products; else loadingBlock">
  <div *ngFor="let product of products">
    <app-product [product]="product" [price]="price" (updateCart)="onUpdatedCart($event)"></app-product>
  </div>
</main>
<ng-template #loadingBlock>
  <app-loading></app-loading>
</ng-template>
