<div class="mobile">
  <ul>
    <li>
      <fa-icon [icon]="menuIcon" (click)="sidenav.toggle()"></fa-icon>
    </li>
    <li><a href="https://vimeo.com/tipiknapa" target="_blank">
      <fa-icon [icon]="vimeoIcon"></fa-icon>
    </a></li>
    <li><a href="https://www.facebook.com/tipiknapa" target="_blank">
      <fa-icon [icon]="facebookIcon"></fa-icon>

    </a></li>
    <li><a href="https://www.instagram.com/tipiknapa" target="_blank">
      <fa-icon [icon]="instagramIcon"></fa-icon>

    </a></li>
  </ul>
  </div>
  <mat-sidenav-container>
      <mat-sidenav #sidenav>
        <mat-nav-list>
          <a (click)="sidenav.toggle()" mat-list-item routerLink="/o-nas" routerLinkActive="active">O NAS</a>
          <a (click)="sidenav.toggle()" mat-list-item routerLink="/sklep" routerLinkActive="active">SKLEP</a>
        </mat-nav-list>
      </mat-sidenav>
    <mat-sidenav-content>
        <div class="router-wrapper">
          <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
