
@import '../../sass/styles';
mat-sidenav img{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 2rem;
}
mat-nav-list{
  margin-top: 100px;
}
.mat-list-item{
  font-size: 1.5rem;
  letter-spacing: .15rem;
  margin-top: 3%;
}
.mat-list-item:hover{
  background-color: $color;
}

fa-icon{
  font-size: 2rem;
  line-height: 3rem;
  filter: drop-shadow( 2px 2px rgba($color, 0.2));
  -webkit-filter: drop-shadow( 2px 2px rgba($color, 0.2));
  &:first-child{
    margin-left: 4%;
  }
}
ul.social{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}

