<img src="../../assets/about/big/1.jpg" alt="TIPI KNAPA w sekcji 'O nas' ilustracja nr 1">
<h2>O NAS</h2>
<!-- <div class="test"></div> -->
<div *ngFor="let about of abouts; let i = index">
  <p [innerHTML]="about"></p>
  <div class="test">
  </div>
</div>
<!-- <div *ngFor="let about of abouts; let i = index">
  <p [innerHTML]="about"></p>
  <picture>
    <source
      [srcset]="smallPhotoUrl+(i+2)+'.jpg'"
      media="(max-width: 600px)">
    <source
      [srcset]="bigPhotoUrl+(i+2)+'.jpg'"
      >
    <img  alt="TIPI KNAPA w sekcji 'O nas' ilustracja nr {{i+2}}">
  </picture>
</div> -->

