<img src="../../assets/about/big/1.jpg" alt="TIPI KNAPA w sekcji 'O nas' ilustracja nr 1">
<h2>O NAS</h2>
<!-- <div class="test"></div> -->
  <p>Podczas wojażu po Polsce z moim przyjacielem <mark>Łukaszem</mark> zatrzymaliśmy się na obiad u jego rodziców. Tak poznałem <mark>Rycha</mark>. Jakiś czas potem Łukasz zrobił w domu kilka noży z piły tarczowej, które przywiózł na Grochów razem z pewną historią. Otóż Rychu zaskoczony faktem, że da się taki nóż wykonać własnoręcznie (i to w domowych warunkach), zaczął sam bawić się w swoim warsztacie… a reszta to historia. Mniej więcej w tym samym czasie logo TipiKnapa wylądowało na okładce albumu „Knurion"- pierwszym z wielu albumów, do których okładki robiliśmy razem z Łukaszem. Od tamtego czasu planowałem wrzucić na rynek własny produkt. Minęły cztery lata zanim połączyłem te kropki.</p>
  <div class="pic pic-1">
  </div>
  <p>Telefon do Łukasza, telefon do Rycha i już byliśmy w drodze na pierwsze spotkanie. Na pokładzie dodatkowo <mark>dwóch Bartków</mark> - speców od obiektywów i internetów, żeby to wszystko elegancko dokumentować. Gościna u <mark>Państwa Wasilewskich</mark> tradycyjnie przemiła, warsztat profesjonalny, Rychu rzetelny w wykładaniu nam tajników swojego rzemiosła. Temat dogadany, projekt noża ustalony, termin następnego wypadu również.</p>
  <div class="pic pic-2">
  </div>
  <p>Kolejny przyjazd i mamy niespodziankę - wita nas <mark>Miro Bojan</mark>, autor projektu naszego noża. Słuchamy zatem jego opowieści o pasji do noży, która jest właściwie niesamowitą historią życia Mira. W międzyczasie ustalamy detale techniczne i wszystko co nam się przypomni. Jest z nami również <mark>Konrad</mark>, kumpel z Kaszub, który w międzyczasie zmajstrował nierdzewne pudełeczka. Wspólnymi siłami dochodzimy do ostatecznej wizji. Bartek zasuwa z aparatem jak poparzony, bo czas nagli. Jakiś czas później podczas spaceru z psami trafiłem przypadkiem na <mark>Helio</mark>, który zaoferował uporządkować wszystkie nasze pomysły i zbudować ten sklep, jak łeb.</p>
  <div class="pic pic-3">
  </div>
  <p>Tak wygląda, w dużym skrócie, historia tego noża. Cel przyświeca nam następujący - dać ludziom coś, co jest nie tylko trwałe i potrzebne, ale też piękne, wykonane ręcznie z pasją i prezentowane z dumą. Ja ze swojej strony świadczę o tym własnym nazwiskiem i dopisuję dwa słowa, pojęcia nierozłączne, które przychodzą mi na myśl jako pierwsze, kiedy myślę o takim nożu - wolność i odpowiedzialność.</p>
  <div class="pic pic-4">
  </div>


<!-- BACKGROUNDS NG FOR
  <div *ngFor="let about of abouts; let i = index">
  <p [innerHTML]="about"></p>
  <div class="test">
  </div>
</div> -->
<!-- PICTURES NG FOR
  <div *ngFor="let about of abouts; let i = index">
  <p [innerHTML]="about"></p>
  <picture>
    <source
      [srcset]="smallPhotoUrl+(i+2)+'.jpg'"
      media="(max-width: 600px)">
    <source
      [srcset]="bigPhotoUrl+(i+2)+'.jpg'"
      >
    <img  alt="TIPI KNAPA w sekcji 'O nas' ilustracja nr {{i+2}}">
  </picture>
</div> -->

