<div class="desktop">
  <nav>
      <div class="nav-main">
        <ul>
          <li><a routerLink="/info" routerLinkActive="active">INFO</a></li>
          <li><a routerLink="/cennik" routerLinkActive="active">CENNIK</a></li>
          <li><a routerLink="/kontakt" routerLinkActive="active">KONTAKT</a></li>
          <li><a routerLink="/galeria" routerLinkActive="active">GALERIA</a></li>
        </ul>
      </div>
    </nav>
    <nav>
      <div class="nav-tri">
        <ul>
          <li><a href="http://helio.webd.pl/inomhus" target="_blank" routerLinkActive="active">ROBIĘ TEŻ GRAFIKĘ</a></li>
        </ul>
      </div>
    </nav>
    <nav>
      <div class="nav-sec">
        <ul>
          <li><a href="https://www.facebook.com/inomhusskateschool" target="_blank">FACEBOOK</a></li>
          <li><a href="https://www.instagram.com/inomhusskateschool" target="_blank">INSTAGRAM</a></li>
        </ul>
      </div>
    </nav>
    <nav>
      <div class="nav-qua">
        <ul>
          <li><a href="http://helio.webd.pl/" target="_blank">DESIGN ☀ HELIO</a></li>
        </ul>
      </div>
    </nav>
  </div>
