@import '../../sass/styles';

.background{
  background-image: url('../../assets/TIPI-KNAPA_bg.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: calc(100vh  - 13rem);
  filter: grayscale(.5);
  cursor: pointer;
  transition: 2s;
animation: enter 1.66s ease-in-out .01s backwards;
&:hover{
    filter: grayscale(0);
  }
}

.tooltip{
  position: relative !important;
  top: 60px !important;
  background-color: $color;
  font-size: 1.2rem;
  height: 1.2rem;
  font-family: $f;
}

@keyframes enter {
  0%{
    height: calc(0vh);
    filter: grayscale(.9);
    }
  100%{
    height: calc(100vh  - 13rem);
    filter: grayscale(.5);  }

}
