@import '../../sass/styles';

.background{
  background-image: url('../../assets/TIPI-KNAPA_bg.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: calc(100vh  - 13rem);
  cursor: pointer;
  transition: 2s;
  animation: enter 1.66s ease-in-out .01s backwards;
  position: relative;
  @include respond(phone){
    background-image: url('../../assets/TIPI-KNAPA_bg-mobile.jpg');

  }
}

.tooltip{
  position: relative !important;
  top: 75vh !important;
  // background-color: $color;
  font-size: 1.2rem;
  height: 1.2rem;
  font-family: $f2;
}

@keyframes enter {
  0%{
    height: calc(0vh);
    filter: grayscale(.9);

    }
  60%{
      filter: grayscale(.8);

      }
  100%{
    height: calc(100vh  - 13rem);
    filter: grayscale(0);
  }

}
