@import '../sass/styles';

img{
  width: 510px;
  mix-blend-mode: difference;


  &#tablet{
    left: 5%;
    top: 3%;
    position: fixed;
    z-index: 5;


    @include respond(tab-port){
      width: 414px;
      top: 5%;
      display: none;
    }
    &:hover{
      cursor: pointer;
    }
  }

}
