
<main>
  <h2>{{ product.title }}</h2>
  <caption>{{ product.sku }}</caption>
  <div class="holder">

    <div class="holder-slides">
        <app-slideshow [slidesId]="product.slug" [slidesSet]="product.images"></app-slideshow>
    </div>

    <div class="holder-info">
      <!-- <h3>{{product.vendor}}</h3> -->
      <div class="body-wrapper" [innerHTML]="product.body"></div>
           <ul>
        <li>kategoria: <span *ngFor="let category of product.categories" class="label category-label">{{ category }}</span></li>
        <li>waga: {{product.weight}} g</li>
      </ul>
      <p>{{ productPrice() }} <fa-icon  [icon]="cartIcon" (click)="createOrder()"
        matTooltip="Dodaj do koszyka"
        matTooltipShowDelay="200"
        matTooltipHideDelay="100"
        ></fa-icon>
      </p>
        <!-- <app-button (click)="createOrder();" text="DODAJ DO KOSZYKA"></app-button> -->

        <div *ngIf="ord">
          <app-button text="idź do checkoutu" link="https://tipi-knapa-checkout.netlify.app/" [orderId]="ord"></app-button>
        </div>
    </div>
  </div>
</main>
