
<main>
  <h2>{{ product.title }}</h2>
  <p class="code">{{ product.sku }}</p>
  <a class="add-to-cart" (click)="createOrder()">
    Dodaj do koszyka <fa-icon  [icon]="cartIcon" ></fa-icon>
  </a>
  <div class="holder">

    <div class="holder-slides">
        <app-slideshow [slidesId]="product.slug" [slidesSet]="product.images"></app-slideshow>
    </div>

    <div class="holder-info">
      <!-- <h3>{{product.vendor}}</h3> -->
      <div class="body-wrapper" [innerHTML]="product.body"></div>
        <ul>
          <li>kategoria: <span *ngFor="let category of product.categories" class="label category-label">{{ category }}</span></li>
          <li>waga: <b>{{product.weight}} g</b></li>
          <li>długość całkowita: <b>{{product.length}} mm</b></li>
          <li>długość ostrza: <b>{{product.bladeLength}} mm</b></li>
          <li>szerokość ostrza: <b>{{product.bladeWidth}} mm</b></li>
          <li>grubość stali: <b>{{product.steelThickness}} mm</b></li>
      </ul>
      <p class="price">cena: <b>{{ productPrice() }} </b><fa-icon  [icon]="cartIcon" (click)="createOrder()"
        matTooltip="Dodaj do koszyka"
        matTooltipShowDelay="200"
        matTooltipHideDelay="100"
        ></fa-icon>
      </p>
        <!-- <app-button (click)="createOrder();" text="DODAJ DO KOSZYKA"></app-button> -->

        <div *ngIf="ord">
          <app-button text="idź do checkoutu" link="https://tipi-knapa-checkout.netlify.app/" [orderId]="ord"></app-button>
        </div>
    </div>
  </div>
</main>
