@import '../../../sass/styles';

h2{
  padding: 0 10%;
}
.holder{
  width: 80%;
  display: flex;
  margin: 0% 10%;
}
.holder-slides{
  width: 37%;

}
.holder-info{
  width: 57%;
  & ul{
    list-style-type: none;
  }
}
.label{
  position: relative;
  border-radius: 2px;
  font-size: 1rem;
  padding: 4px;
  margin: 0 4px;
  background-color: $selection;
}
