$color:#f7695a;
$color-2: #84fb54;
$white: #fafff6;

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: .1rem;
    margin: 0px;

    & ::selection{
        background-color: $color-2;
    }
}

.router-wrapper{
    margin: 4.2rem 0;
    height: 100vh;
}

//logotype "Allora, ANDIAMO ?"
#logotype-wrapper{
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: -1rem;
    width: 35rem;
    z-index: 2;
    mix-blend-mode: difference;
    height: 7rem;
    @media screen and (max-width: 405px){
        width: 22.826rem;
    }
}
.logotype{
    position: absolute;
    width: 12rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media screen and (max-width: 405px){
        width: 7.826rem;
    }

}
span#question-mark, span#allora{
    display: none;
    position: absolute;
    font-size: 2.3rem;
    text-transform: uppercase;
    transform: rotate(-7.2deg);
    color: $color-2;
    z-index: 10;
    @media screen and (max-width: 405px){
        font-size: 1.5rem;
    }
}
span#allora{
    left: 0;
    bottom: 8%;
    @media screen and (max-width: 405px){
        bottom: 23%;
        }
}
span#question-mark{
    right: 27%;
    top: 13%;
    @media screen and (max-width: 405px){
        top: 25%;
        }
}

h1, h2{
    font-size: 1.3rem;
    letter-spacing: .15rem;

    @media screen and (max-width: 400px){
        font-size: 1rem;
        letter-spacing: .11rem;
    }

}

a{
    text-decoration: none;
    color: black;
    text-shadow: 2px 2px rgba($color-2, .2);
    @media screen and (min-width: 600px){
        &:hover{
            background-color: rgba($color-2, 0.8);
        }
    }

}

p, h2, h1, ul {
    padding: 0 5rem;
    margin: 0;
    @media screen and (max-width: 900px){
        padding: 0 1rem;
    }

}
.post-wrapper h1{
    font-size: 1.9rem;
    width: 90%;
    margin: 0 auto;
}

.body-wrapper p{
  font-size: 1.5rem;
  letter-spacing: .15rem;
  line-height: 1.8rem;
  width: 70%;
  margin: 0 30% 0 0;
  padding-top: 1rem;
  text-align: justify;
  @media screen and (max-width: 600px){
    margin: 0 auto;
    width: 85%;
  }
}


button{
    border: none;
    cursor: pointer;
    background-color: rgba($white, 0);
}
//responsive menu
@media only screen and (max-width: 599px) {
    .desktop{
        display: none;
        visibility: hidden;
    }
}



//mobile menu
.mobile{
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    & ul{
        display: flex;
        justify-content: space-between;
        list-style: none;
    }

    @media only screen and (min-width: 599px) {
    display: none;
    visibility: hidden;
    }
}
.mat-drawer{
    position: fixed !important;
    padding-top: 6rem;
}
.mat-drawer-container{
    background-color: rgba($white, 0);
}
.mat-drawer-container-about{
    background-color: red;
}
.mat-drawer-backdrop.mat-drawer-shown{
    background-color: rgba($color-2, .6);
}


