@import '/src/sass/styles';


body{
    font-family: $f;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: .1rem;
    margin: 0px;

    & ::selection{
        background-color: $selection;
    }
    & mark{
      background-color: $selection;
    }
}

.router-wrapper{
    margin: 10rem 0 0 0;
    height: 100vh;
}

a{
    text-decoration: none;
    color: black;
    text-shadow: 2px 2px rgba($color, .2);
    @media screen and (min-width: 600px){
        &:hover{
            background-color: rgba($color, 0.8);
        }
    }

}

p, h2, h1, ul {
    padding: 0 5%;
    margin: 0;
}
h1{
  padding: 0rem;
  font-size: 6rem;
  letter-spacing: .6rem;
  line-height: 0rem;
  position: fixed;
  top: calc(5% + 3rem);
  left: 5%;
  z-index: 2;
  mix-blend-mode: difference;
  color: $metal;
  @media screen and (max-width: 900px){
    font-size: 4.5rem;
    letter-spacing: .45rem;


  }
  @media screen and (max-width: 600px){
    font-size: 3.5rem;
    letter-spacing: .45rem;
  }
}
h2{
  font-size: 3.5rem;
  letter-spacing: .15rem;

  @media screen and (max-width: 900px){
      font-size: 3rem;
      letter-spacing: .3rem;
  }
  @media screen and (max-width: 600px){
    font-size: 3rem;
    letter-spacing: .3rem;
  }

}
p{
  font-size: 2rem;
  padding: 2rem 5%;
  @media screen and (max-width: 900px){
    font-size: 1.5rem;
    letter-spacing: .15rem;
  }
  @media screen and (max-width: 600px){
    font-size: 1.3rem;
    letter-spacing: .1rem;
  }
}



button{
    border: none;
    cursor: pointer;
    background-color: rgba($white, 0);
}
//responsive desktop menu
@media only screen and (max-width: 599px) {
    .desktop{
        display: none;
        visibility: hidden;
    }
}



//mobile menu
.mobile{
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    & ul{
        display: flex;
        justify-content: space-between;
        list-style: none;
    }

    @media only screen and (min-width: 599px) {
    display: none;
    visibility: hidden;
    }
}
.mat-nav-list{
  margin-bottom: 50%;
}
.mat-drawer{
    position: fixed !important;
    padding-top: 6rem;
}
.mat-drawer-container{
    background-color: rgba($white, 0);
}
.mat-drawer-container-about{
    background-color: red;
}
.mat-drawer-backdrop.mat-drawer-shown{
    background-color: rgba($color, .6);
}


