
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$TIPI-KNAPA-primary: mat.define-palette(mat.$indigo-palette);
$TIPI-KNAPA-accent: mat.define-palette(mat.$amber-palette, A400);

// The warn palette is optional (defaults to red).
$TIPI-KNAPA-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$TIPI-KNAPA-theme: mat.define-light-theme((
  color: (
    primary: $TIPI-KNAPA-primary,
    accent: $TIPI-KNAPA-accent,
    warn: $TIPI-KNAPA-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($TIPI-KNAPA-theme);

@import '/src/sass/styles';


body{
    font-family: $f;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: .1rem;
    margin: 0px;
    @include respond(phone){
      letter-spacing: .01rem;
    }

    & ::selection{
        background-color: $selection;
    }
}

.router-wrapper{
    margin: 13rem 0 0 0;
    @include respond(tab-port){
      margin: 65% 0 0 0;
    }
    & img#triangle{
      position: absolute;
      z-index: 5;
      width: 60%;
      left: 20%;
      top: 2rem;
      @media screen and (min-width: 900px){
        display: none;
      }
    }
}

a{
    text-decoration: none;
    color: black;
    text-shadow: 2px 2px rgba($color, .2);
    @media screen and (min-width: 600px){
        &:hover{
            background-color: rgba($color, 0.8);
        }
    }

}

p, h2, h1, h3, h4, ul {
    padding: 0 5%;
    margin: 0;
}
h1{
  padding: 0rem;
  font-size: 6rem;
  letter-spacing: .6rem;
  line-height: 0rem;
  position: fixed;
  top: calc(5% + 3rem);
  left: 5%;
  z-index: 2;
  mix-blend-mode: difference;
  color: $metal;
  @media screen and (max-width: 900px){
    font-size: 4.5rem;
    letter-spacing: .45rem;


  }
  @media screen and (max-width: 600px){
    font-size: 3.5rem;
    letter-spacing: .45rem;
  }
}
h2{
  font-size: 3.5rem;
  line-height: 4rem;
  letter-spacing: .11rem;
  padding: 0 10%;


  @include respond(tab-port){
      font-size: 3rem;
      letter-spacing: .3rem;

  }
  @include respond(phone){
    font-size: 2rem;
    letter-spacing: .1rem;
    line-height: 2.3rem;

  }
}
p{
  font-size: 1.65rem;
  padding: 2rem 5%;
  line-height: 1.85rem;
  @include respond(tab-land){
    font-size: 1.5rem;
    line-height: 1.7rem;
    letter-spacing: 0.05rem;

  }
  @include respond(tab-port){
    font-size: 1.3rem;
    line-height: 1.4rem;
    letter-spacing: 0.02rem;

  }
  @media screen and (max-width: 600px){
    font-size: 1.1rem;
    text-align: justify;
    letter-spacing: 0rem;
  }
}
ul{
  font-family: $f2;
}

blockquote{
  font-style: italic;
  color: $metal;
  // text-align: justify;
  font-size: 1.2rem;
  margin: 2% 30%;
  @include respond(tab-land){
    margin: 1% 8%;

  }
}

fa-icon{

  font-size: 2.5rem;
  cursor: pointer;
  filter: drop-shadow(2px 2px $color, .5);
  -webkit-filter: drop-shadow(2px 2px  $color, .5);
  transition: .3s;
  &:hover{
    filter: drop-shadow(2px 2px $color);
    -webkit-filter: drop-shadow(2px 2px  $color);
  }

  @include respond(tab-port){
    filter: drop-shadow(2px 2px $color);
    -webkit-filter: drop-shadow(2px 2px  $color);
  }
  @include respond(phone){
    font-size: 2rem;

  }
}


